import React from 'react';
import { Container } from './{{pascalCase name}}.styles';

export const {{pascalCase name}} = () => {
  return (
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  )
}